.disabled {
  pointer-events: none;
  cursor: default;
}

.contextual-button(@color) {
  color: #fff;
  background-color: @color;
  &:hover {
    background-color: darken(@color, 10%);
  }
}

.contextual-button-bordered(@color, @backgroundColor, @borderWidth) {
  border-width: @borderWidth;
  border-style: solid;
  color: @color;
  border-color: @color;
  background-color: @backgroundColor;

  &:hover:not([disabled]) {
    background-color: fade(@color, 10%);
  }
}

.contextual-link(@color) {
  color: @color;
  &:hover {
    color: darken(@color, 10%);
  }
}

.md-button.context-bordered {
  &[disabled]{
    .contextual-button-bordered(@themeDisabled, transparent, 1px);
  }
  &:not([disabled]) {
    // .contextual-button-bordered(@brand-primary, #fff, 2px);
    &.context-success { .contextual-button-bordered(@brand-success, #fff, 2px); }
    &.context-danger {  .contextual-button-bordered(@brand-danger, #fff, 2px);  }
    &.context-info   {  .contextual-button-bordered(@brand-info, #fff, 2px);    }
  }
}

.md-button.md-raised {
  // &[disabled]{
  //   .contextual-button(@themeDisabled);
  // }
  &:not([disabled]) {
    // .contextual-button(@brand-primary);
    &.context-success { .contextual-button(@brand-success); }
    &.context-danger {  .contextual-button(@brand-danger);  }
    &.context-info   {  .contextual-button(@brand-info);    }
  }
}

a {
  &[disabled], .disabled {
    .contextual-link(@themeDisabled);
    .disabled();
  }
  &:not([disabled]), :not(.disabled) {
    &.context-success { .contextual-link(@brand-success); }
    &.context-danger  {  .contextual-link(@brand-danger);  }
    &.context-info    {  .contextual-link(@brand-info);    }
  }
}
