/* Badges */
.badge {
  &.unknown {
    .progressBadge(@unknownColor);
  }

  &.submit,
  &.submitted {
    .progressBadge(@submitColor);
  }

  &.process,
  &.processing,
  &.processed {
    .progressBadge(@processColor);
  }

  &.complete,
  &.completed {
    .progressBadge(@completeColor);
  }

  &.normal {
    background-color: #808080;
  }

  &.add {
    background-color: @completeColor;
  }

  &.remove {
    background-color: #d84315;
  }
}
