.breadcrumb-progress {
  list-style: none;
  overflow: hidden;
  padding: 0px;
  li {
    float: left;
    a {
      color: white;
      display: block;
      float: left;
      padding: 10px 0 10px 45px;
      position: relative;
      text-decoration: none;
      text-transform: capitalize;
      line-height: 20px;
      &::after {
        .arrow;
        z-index: 2;
      }
      &::before {
        .arrow;
        margin-left: 5px;
        z-index: 1;
      }
      &.unknown {
        .step(@unknownColor);
      }
      &.submit {
        .step(@submitColor);
      }
      &.process {
        .step(@processColor);
      }
      &.complete {
        .step(@completeColor);
      }
    }
    &:first-child a {
      padding-left: 20px;
    }
  }
  &.justified {
    li {
      width: calc(33% ~"-" 9px);
    }
    a {
      width: 100%;
    }
  }
}
