#checkout {
  .termsConditions {
    font-size: smaller;
    .termsContent {
      border: 1px solid rgba(0, 0, 0, 0.22);
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.03);
    }
    .citation {
      margin-bottom: 0px;
    }
  }
  .submit-button {
    min-width: calc(100% ~"-" 16px);
  }
  .details-button,
  .remove-button {
    margin: 0 5px;
  }
  .selection-body {
    padding: 16px;
    border-top: 1px solid #eee;
  }
}

#requestList {
  overflow-y: auto;
}

#checkoutDetails {

}
