.md-select-menu-container {
  z-index: 99999;
}

md-input-container.condensed {
  margin-bottom: 0px;
  &.no-label {
    margin-top: 0px;
  }

  .md-errors-spacer {
    height: 0px;
    min-height: 0px;
  }
}
