@import "variables.less";

det-header {
  #det-header {
    margin-bottom: 0px;
    height: 80px;
  }

  .navbar-brand {
    padding: 10px;
  }
  .logo{
      position: relative;
      float: left;
      width: 275.3px;
      height: 60px;
      background-image: url('/media/images/aid_data.png');
      background-size: cover;
      background-repeat:no-repeat;
  }
}
