@import (less) "../libs/bower_components/bootstrap/less/bootstrap.less";
@import (less) "../libs/bower_components/leaflet/dist/leaflet.css";
@import (less) "../libs/bower_components/font-awesome/css/font-awesome.css";
@import (less) "../libs/bower_components/angucomplete-alt/angucomplete-alt.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700);

@import "variables.less";
@import "header.less";
@import "map.less";
@import "search.less";
@import "whitespace.less";


.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
