@import (less) "../libs/bower_components/bootstrap/less/bootstrap.less";
@import (less) "../libs/bower_components/leaflet/dist/leaflet.css";
@import (less) "../libs/bower_components/font-awesome/css/font-awesome.css";
@import (less) "../libs/bower_components/angucomplete-alt/angucomplete-alt.css";
@import (less) "../libs/bower_components/angular-material/angular-material.min.css";
@import (less) "../libs/bower_components/angularjs-slider/dist/rzslider.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");

@import "variables.less";
@import "header.less";
@import "map.less";
@import "search.less";
@import "checkout.less";
@import "util.less";
@import "sliders.less";
@import "forms.less";
@import "buttons.less";

html,body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: lighten(@steelBlue, 60%);
}
