#geographySearch {
  z-index: 1000;
  display: inline-block;
  position: absolute;
  width: 300px;
  background-color: @defaultBackground;
  border: 1px solid darken(@defaultBackground, 2%);

  form {
    padding-top: 10px;
  }

  .angucomplete-dropdown {
    width: 270px;
    margin-top: 0px;
  }
}

#zoomControls {
  z-index: 1000;
  display: block;
  position: absolute;
  right: 0;
  width: 60px;
  margin-right: 15px;
  margin-top: 15px;
}

#map {
  width: 100vw;
  height: 100vh;

  svg.leaflet-zoom-animated {
    path {
      transition: fill-opacity 1s ease-in-out,
        stroke-opacity 1s ease-in-out;
      stroke: @brick;
      fill: @brick;
      stroke-width: 3px;
    }
  }
}
