[ui-view="zoomControls"] {
  z-index: 9;
  display: block;
  position: absolute;
  right: 0;
  margin-right: 15px;
  margin-top: 15px;
}

[ui-view="geographySearch"] {
  display: inline-block;
  position: absolute;
  width: 33%;
  z-index: 11;
  >md-content {
    overflow-y: auto;
    display: block;
  }
  md-autocomplete.autocomplete-empty {
    md-autocomplete-wrap::after {
      content: '\f0dc';
      position: absolute;
      right: 0px;
      display: inline-block;
      padding-right: 10px;
      padding-top: 10px;
      color: rgba(0,0,0,0.54);
      font-family: FontAwesome;
      pointer-events: none;
    }
    md-autocomplete-wrap.md-menu-showing::after {
      pointer-events: auto;
    }
  }

}

[ui-view="mapFrame"] {
  .map-overlay {
    width: 100%;
    height: calc(100vh ~"-" @headerHeight ~"-" @processHeaderHeight);
    position: fixed;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 10% 10% 10% 40%;
    font-size: 21px;
    text-transform: capitalize;
    letter-spacing: 2px;
    z-index: 10;
    pointer-events: none;
  }

  .map {
    width: 100%;
    height: calc(100vh ~"-" @headerHeight ~"-" @processHeaderHeight);
  }
}

.map {
  .leaflet-top, .leaflet-bottom {
    z-index: 9;
  }
  svg.leaflet-zoom-animated {
    path {
      transition: fill-opacity 450ms ease-in-out,
        stroke-opacity 450ms ease-in-out;
      stroke: @brick;
      fill: @brick;
      stroke-width: 3px;
    }
  }
}
