geography-search {
  z-index: 1000;
  display: inline-block;
  position: absolute;
  width: 300px;
  background-color: @defaultBackground;

  .angucomplete-dropdown {
    width: 270px;
    margin-top: 0px;
  }
}

zoom-controls {
  z-index: 1000;
  display: block;
  position: absolute;
  right: 0;
  width: 60px;
  margin-right: 15px;
  margin-top: 15px;
}
