md-dialog.md-default-theme.md-content-overflow .md-actions,
md-dialog.md-content-overflow .md-actions,
md-dialog.md-default-theme.md-content-overflow
md-dialog-actions,
md-dialog.md-content-overflow md-dialog-actions,
md-divider.md-default-theme, md-divider{
  border-color: @borderColor;
}

md-card-header {
  background-color: @cardHeader;
  border-bottom: 1px solid @borderColor;
}
md-card {
  background-color: #fff;
}

md-list {
  padding-top: 0px;
}
