.stepColor (@color) {
  background-color: @color;
  &::after {
    border-left-color: @color;
  }
  &::before {
    border-left-color: @color;
  }
}

.step(@color) {
  .stepColor(@color);
  &.incomplete {
    .stepColor(lighten(@color, 20%));
  }
  &.current {
    font-weight: bold;
    &::before {
      border-left-color: darken(@color, 10%);
    }
  }
}

.arrow {
  border-bottom: 50px solid transparent;
  border-left: 30px solid transparent;
  border-top: 50px solid transparent;
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 0;
}

.progressBadge(@color) {
  background-color: @color;
}
