#datasetSelector {
  box-shadow: @boxshadow;

  .active {
    background-color: @steelBlue;
    h1,h2,h3,h4,h5 {
      color: #fff;
    }
    p {
      color: #ddd !important;
    }
  }
}
//
// #queryText {
//   md-card.search-card {
//     height: 200px;
//     md-card-content {
//       overflow-y: auto;
//     }
//   }
// }
//
// #filters {
//   height: calc(100vh ~"-" @headerHeight ~"-" @processHeaderHeight ~"-" 250px);
// }
//
// md-card.filter-card {
//   height: 300px;
//   max-height: 330px;
//   overflow-y: hidden;
//
//   md-list {
//     overflow-y: auto;
//   }
//
//   md-toolbar {
//     a {
//       margin-left: 10px;
//     }
//   }
//
//   .md-subheader{
//     background-color: #fff;
//   }
// }
//
//
span.label.label-circle {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  line-height: 2em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
    0 1px 1px 0 rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
  text-align: center!important;
  margin-left: 10px;
}
