#datasetSelector {
  .active {
    background-color: @steelBlue;
    h1,h2,h3,h4,h5 {
      color: #fff;
    }
    p {
      color: #ddd !important;
    }
    a {
      color: #fff;
    }
  }
  .metadata {
    padding: 15px;
    background-color: #eee;
    font-size: small;
    overflow-x: auto;
  }
}

#queryText {
  md-card-content {
    overflow-y: auto;
  }
}

md-card.filter-card  {
  md-card-header{
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(84, 110, 122, 0.44);
  }
  a.toolbar-link {
      margin-left: 10px;
    }

  .md-subheader{
    background-color: #fff;
  }
}

.label.label-circle {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  line-height: 2em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
    0 1px 1px 0 rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
  text-align: center!important;
  margin-left: 10px;
  display: block;
}

#searchModuleView {
  max-width:100%;
  overflow-x: auto;
  flex: 1 1 auto;
}
