#status {
  .request-info {
    padding: 0 10px;
  }
  .selections-heading {
    padding-bottom: 0px;
  }
  .selection-text-container {
    border-top: 1px solid @greyBackground;
    padding: 16px;
  }
}
