.full-height {
  height: 100%;

}

.remaining-height {
  height: calc(100vh ~"-" @headerHeight ~"-" @processHeaderHeight);
  max-height: calc(100vh ~"-" @headerHeight ~"-" @processHeaderHeight);
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.scroll-container {
  overflow-y: auto;
}

.scroll-hidden {
  overflow-y: hidden;
}

.popover {
  .arrow {
    margin-top: 0px;
  }
	margin: 10px;
}
