/*
  If you are setting global variable or style, look at the variables defined in
  application/public_src/bower_components/bootstrap/less/variables.less
  >> It is much easier to redefine a bootstrap variable than overwrite all
     of the computed styles!

   AidData Design Spec:
     https://drive.google.com/open?id=0B0224AP_9SZVV2hMTllqZzFrU01mb2xoYzRDZldaNVdyV1R3
*/

/* AidData Colors */
@aidDataNavy: #161f34;
@steelBlue: #405469;
@grapePurple: #684b7f;
@skyBlue: #92b5d8;
@limeGreen: #76b657;
@bananaCreme: #ffdd75;
@brick: #e66233;
@mahogany: #362728;
@lightGray: #7c7c7c;
@darkGray: #555555;

@defaultBackground: #f8f8f8;
@inverseBackground: #607d8b;

/* Theme Colors */
@brand-primary: @steelBlue;
@brand-success: @limeGreen;
@brand-info: @skyBlue;
@brand-danger: @brick;

/* Typography */
@font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;

@link-color: @brand-primary;
@btn-default-color: @link-color;
@btn-default-border: @btn-default-color;

@border-radius-base:        3px;
@border-radius-large:       4px;
@border-radius-small:       2px;

/* Whitespace */
@break-xs: 5px;
@break-sm: 10px;
@break-md: 15px;
@break-lg: 20px;
@break-xl: 25px;
