/*
  If you are setting global variable or style, look at the variables defined in
  application/public_src/bower_components/bootstrap/less/variables.less
  >> It is much easier to redefine a bootstrap variable than overwrite all
     of the computed styles!

   AidData Design Spec:
     https://drive.google.com/open?id=0B0224AP_9SZVV2hMTllqZzFrU01mb2xoYzRDZldaNVdyV1R3
*/

/* AidData Colors */
@aidDataNavy: #161f34;
@steelBlue: #405469;
@grapePurple: #684b7f;
@skyBlue: #92b5d8;
@limeGreen: #76b657;
@bananaCreme: #ffdd75;
@brick: #e66233;
@mahogany: #362728;
@lightGray: #7c7c7c;
@darkGray: #555555;

@defaultBackground: #f8f8f8;
@greyBackground: #eee;

/* Theme Colors */
@brand-primary: @steelBlue;
@brand-success: @limeGreen;
@brand-info: @skyBlue;
@brand-danger: @brick;

/* Material Design Colors */
@themeDefault: rgb(120,144,156);
@themeAccent: rgba(76,175,80,0.87);

/* Typography */
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,500,700';
@font-family-sans-serif: 'Lato', Helvetica, Arial, sans-serif;

@link-color: @brand-primary;
@btn-default-color: @link-color;
@btn-default-border: @btn-default-color;

@border-radius-base: 3px;
@border-radius-large: 4px;
@border-radius-small: 2px;

@headerHeight: 80px;
@processHeaderHeight: 30px;

/* Progress Colors */
@unknownColor: #9e9e9e;
@submitColor: #d84315;
@processColor: #fdd835;
@completeColor: #4caf50;
