<div ng-repeat="(type, queries) in { release_data: queryObj.release_data, raster_data: queryObj.raster_data }">
  <md-card ng-repeat="q in queries"
      class="md-margin"
      ng-init="dataset = datasetDetails(q); hidden= false;">

    <md-card-header layout-align="center center">

      <md-input-container class="md-icon-float condensed no-label" md-no-float>
        <md-icon>
          <md-tooltip md-delay="500" md-direction="top"> Rename this Request </md-tooltip>
          <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
        </md-icon>

        <input ng-model="q.custom_name" placeholder="Request Name">
      </md-input-container>

      <span flex></span>

      <md-button class="md-primary" ng-click="hidden=!hidden;" style="margin: 0 5px;">
          Details
          <i class="fa fa-chevron-right" aria-hidden="true"
              ng-class="{ 'fa-rotate-90': !hidden }"></i>
      </md-button>

      <md-button class="md-secondary md-warn" ng-click="removeQuery(q, type)" style="margin: 0 5px;">
        <i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i>
        Remove
      </md-button>

    </md-card-header>


    <md-content uib-collapse="hidden" layout-padding style="padding: 16px; border-top: 1px solid #eee;">

      <plain-text-query
          ng-if="!hidden"
          query-dataset="dataset"
          query-geography="queryObj.boundary.title"
          query-filters="q.filters"
          query-options="q"
          query-editable="false"></plain-text-query>

    </md-content>

  </md-card>
</div>

<md-card layout-padding>
  <md-button md-no-ink
      style="width: auto"
      class="md-primary"
      ng-click="addRequest()">

    <md-tooltip md-delay="500" md-direction="top"> Add to Your Cart </md-tooltip>

    Add Another Request
    <i class="fa fa-plus" aria-hidden="true"></i>
  </md-button>
</md-card>

<br>
<md-divider></md-divider>
<br>

<md-card>
  <md-card-content style="max-height: 150px; overflow-y: auto; font-size: smaller">
    <strong> Terms and Conditions </strong>
    <p>Four dollar toast tattooed 3 wolf moon small batch sriracha biodiesel, tote bag beard gochujang fingerstache yr fashion axe kickstarter lo-fi. Crucifix tote bag four dollar toast, hoodie photo booth williamsburg schlitz selfies chillwave paleo fap cold-pressed authentic PBR&B. Direct trade swag normcore, salvia sartorial biodiesel farm-to-table 90's post-ironic schlitz paleo ramps ugh squid. Fingerstache craft beer dreamcatcher blog you probably haven't heard of them. Narwhal shoreditch stumptown disrupt. Flannel tilde lumbersexual before they sold out, VHS typewriter migas YOLO freegan fixie +1 flexitarian tofu 90's. Tofu celiac craft beer YOLO.</p>

    <p>Marfa slow-carb narwhal, lumbersexual blue bottle pop-up pour-over 90's master cleanse 8-bit organic ugh blog lomo. Sriracha typewriter try-hard intelligentsia, ramps skateboard kickstarter. Tilde kinfolk humblebrag cray crucifix, taxidermy 8-bit vice typewriter blog marfa swag brunch. VHS kale chips crucifix cred williamsburg, ethical fixie try-hard raw denim direct trade. Pitchfork fashion axe vinyl affogato. Offal disrupt man bun small batch. Fingerstache flexitarian DIY mlkshk, wolf meggings meditation.</p>
  </md-card-content>

  <!-- <md-input-container class="md-icon-float condensed no-label md-block" md-no-float>
    <md-icon>
      <md-tooltip md-delay="500" md-direction="top"> Rename this Request </md-tooltip>
      <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
    </md-icon>
    <input ng-model="requestData.custom_name" placeholder="Request Name">
  </md-input-container> -->
  <md-divider></md-divider>
  <md-card-actions>
    <form name="checkoutForm" layout="row">
      <div layout="column" flex="30">
        <md-input-container class="md-block condensed">
          <input ng-model="requestData.email"
              type="email"
              name="email"
              placeholder="Email"
              required>
        </md-input-container>
        <!-- <md-input-container class="md-block md-icon-float">
          <md-icon>
            <md-tooltip md-delay="500" md-direction="top"> Rename this Request </md-tooltip>
            <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
          </md-icon>
          <input ng-model="requestData.custom_name" placeholder="Request Name">
        </md-input-container> -->

        </div>

      <span flex></span>

      <md-button md-no-ink
          class="md-accent md-raised"
          ng-click="submitQuery()"
          ng-disabled="!checkoutForm.email.$valid">

        <md-tooltip md-delay="500" md-direction="top"> Submit Requests </md-tooltip>

        Submit
      </md-button>
    </form>
  </md-card-actions>

</md-card>
