<div id="detailsContent">
  <h5 class="md-title md-padding">Review And Submit</h5>

  <md-divider></md-divider>

  <div layout="row"
      layout-align="space-between stretch"
      flex
      layout-margin>

    <form name="checkoutForm" layout="column">
      <md-input-container>
        <input ng-model="queryData.custom_name"
            ng-enter="checkoutForm.$valid ? submitQuery() : null;"
            type="text"
            name="requestName"
            placeholder="Request Name"
            required>

      </md-input-container>


      <md-input-container md-no-float>
        <label>Email</label>
        <input ng-model="queryData.email"
            ng-enter="checkoutForm.$valid ? submitQuery() : null;"
            ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
            type="email"
            name="email"
            required
            placeholder="">
      </md-input-container>
    </form>

    <md-divider></md-divider>

    <div flex layout="column">
        <label class="small text-muted">{{ boundary.title }}</label>
      <div class="map"></div>
    </div>
  </div>

  <md-divider></md-divider>

  <div class="termsConditions md-padding" flex layout="column">

    <label class=""> Citation </label>
    <p class="citation md-padding">{{ citation }}</p>


    <label class=""> Terms and Conditions </label>
    <md-content class="termsContent" flex layout-fill layout-margin layout-align="stretch space-between">
      <p ng-repeat="paragraph in terms">
        {{ paragraph }}
      </p>
    </md-content>

  </div>

  <md-divider></md-divider>
</div>

<div layout-align="center end" layout-padding>
  <md-button md-no-ink
      class="md-accent md-raised submit-button"
      ng-click="submitQuery()"
      ng-disabled="!checkoutForm.$valid">

    <md-tooltip md-delay="500" md-direction="top"> Submit Requests </md-tooltip>
    Submit
  </md-button>
</div>
