<h5 class="md-title md-padding">Review And Submit</h5>

<md-divider></md-divider>

<div layout="row"
    layout-align="space-between stretch"
    flex="40"
    layout-margin>

  <form name="checkoutForm" layout="column">
    <md-input-container>
      <input ng-model="queryData.custom_name"
          type="text"
          name="requestName"
          placeholder="Request Name"
          required>

    </md-input-container>


    <md-input-container>
      <input ng-model="queryData.email"
          type="email"
          name="email"
          placeholder="Email"
          required>
    </md-input-container>
  </form>

  <md-divider></md-divider>

  <div class="map" flex></div>
</div>

<md-divider></md-divider>

<div class="termsConditions md-padding" flex="35" layout="column">
  <label class=""> Terms and Conditions </label>
  <md-content class="termsContent" flex layout-fill layout-margin layout-align="stretch space-between">
    <p ng-repeat="paragraph in terms">
      {{ paragraph }}
    </p>
  </md-content>
</div>


<md-divider></md-divider>


<div layout="row" flex layout-align="center end" layout-padding>
  <!-- <div > -->
  <md-button md-no-ink
      class="md-accent md-raised"
      ng-click="submitQuery()"
      ng-disabled="!checkoutForm.$valid" flex>

    <md-tooltip md-delay="500" md-direction="top"> Submit Requests </md-tooltip>

    Submit
  </md-button>
<!-- </div> -->
</div>
