<div flex id="requestList" class="md-padding">
  <div layout="row">
    <md-button md-no-ink
        class="md-primary md-raised btn-block"
        ng-click="addRequest()">

      <md-tooltip md-delay="500" md-direction="top"> Add to Your Request </md-tooltip>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Add Another Selection
    </md-button>
  </div>
  <div ng-repeat="(type, queries) in { release_data: queryObj.release_data, raster_data: queryObj.raster_data }">
    <md-card ng-repeat="q in queries"
        class="md-margin"
        ng-init="dataset = datasetDetails(q); hidden= true;">

      <md-card-header>

        <md-input-container class="condensed no-label" md-no-float flex>

          <input ng-model="q.custom_name" placeholder="Request Name">
        </md-input-container>

        <md-button class="md-primary details-button" ng-click="hidden=!hidden;">
            Details
            <i class="fa fa-chevron-right" aria-hidden="true"
                ng-class="{ 'fa-rotate-90': !hidden }"></i>
        </md-button>

        <md-button class="md-secondary md-warn remove-button" ng-click="removeQuery(q, type)">
          <i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i>
          Remove
        </md-button>

      </md-card-header>


      <md-content uib-collapse="hidden" layout-padding class="selection-body">

        <plain-text-query
            ng-if="!hidden"
            query-dataset="dataset"
            query-geography="queryObj.boundary.title"
            query-filters="q.filters"
            query-options="q"
            query-editable="false"></plain-text-query>

      </md-content>

    </md-card>
  </div>
</div>
