<md-sidenav
    md-component-id="help"
    md-is-open="menu"
    class="md-sidenav-right">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <a href="" class="toolbar-link" ng-click="menu=false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <span flex></span>
      <h5 class="md-headline">
        Help
      </h5>
    </div>
  </md-toolbar>


  <md-content md-padding flex>
    <div layout="column" layout-padding layout-align="top center">

      <p>Four dollar toast tattooed 3 wolf moon small batch sriracha biodiesel, tote bag beard gochujang fingerstache yr fashion axe kickstarter lo-fi. Crucifix tote bag four dollar toast, hoodie photo booth williamsburg schlitz selfies chillwave paleo fap cold-pressed authentic PBR&B. Direct trade swag normcore, salvia sartorial biodiesel farm-to-table 90's post-ironic schlitz paleo ramps ugh squid. Fingerstache craft beer dreamcatcher blog you probably haven't heard of them. Narwhal shoreditch stumptown disrupt. Flannel tilde lumbersexual before they sold out, VHS typewriter migas YOLO freegan fixie +1 flexitarian tofu 90's. Tofu celiac craft beer YOLO.</p>

      <p>Marfa slow-carb narwhal, lumbersexual blue bottle pop-up pour-over 90's master cleanse 8-bit organic ugh blog lomo. Sriracha typewriter try-hard intelligentsia, ramps skateboard kickstarter. Tilde kinfolk humblebrag cray crucifix, taxidermy 8-bit vice typewriter blog marfa swag brunch. VHS kale chips crucifix cred williamsburg, ethical fixie try-hard raw denim direct trade. Pitchfork fashion axe vinyl affogato. Offal disrupt man bun small batch. Fingerstache flexitarian DIY mlkshk, wolf meggings meditation.</p>
    </div>
  </md-content>
</md-sidenav>
