<md-sidenav
    md-component-id="previousRequests"
    md-is-open="menu"
    class="md-sidenav-right">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <a href="" class="toolbar-link" ng-click="menu=false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <span flex></span>
      <h5 class="md-headline">
        Previous Requests
      </h5>
    </div>
  </md-toolbar>


  <md-content md-padding flex>
    <div ng-if="!requests.length">
      <div layout="column" layout-padding layout-align="top">
        <md-input-container>
          <label>e-mail</label>
          <input ng-model="email">
        </md-input-container>

        <md-button md-no-ink
            class="md-primary"
            ng-click="lookup()">Lookup</md-button>

      </div>
    </div>
    <div ng-if="requests.length" layout="column" layout-padding layout-align="top">
      <md-button md-no-ink
          class="md-primary"
          ng-click="requests.splice(0)">
        Not {{ email }} ??
      </md-button>

      <md-divider></md-divider>

    <div ng-repeat="req in requests"
        ng-init="showDetails = false; req.raster_data = req.raster_data || []; req.release_data = req.release_data || [];">
      <a href="" ng-click="viewStatus(req._id.$id)">
        {{ req._id.$id }} {{ req.raster_data.length + req.release_data.length }}
      </a>
      <div uib-collapse="!showDetails">
        <div ng-repeat="(type, query) in { release_data: req.release_data, raster_data: req.raster_data }">
          <div ng-repeat="q in query" ng-init="showQueryDetails = false;">
            <a href="" ng-click="showQueryDetails = !showQueryDetails"> {{ q.custom_name || 'Untitled Request' }} </a>
            <em><small> {{ q.title || q.dataset}} <small></em>
            <div uib-collapse="!showQueryDetails"> {{ q }} </div>

          </div>
        </div>
      </div>

    </div>

    </div>
  </md-content>

</md-sidenav>
