<div ng-init="viewCart=false">
  <md-toolbar id='det-header'>
    <div class="md-toolbar-tools">

      <h2>
        <a href="http://www.aiddata.org/">
           <div class="logo"></div>
        </a>
      </h2>
      <span flex></span>

      <md-button class="md-icon-button header-button"
        aria-label="Cart"
        ng-click="viewCart = !viewCart">
        <i class='fa fa-shopping-cart'></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-toolbar class="process-header md-hue-6">
    <div class="md-toolbar-tools process">

        <md-button class="md-button-pimary process-button"
            ng-disabled="false"
            ng-class="{ 'current': currentStep === 'map' }"
            ui-sref="map"
            md-no-ink>

          <i class="fa fa-map-pin" aria-hidden="true"></i>
          1. Select Boundary
        </md-button>

        <span> / </span>

        <md-button class="md-button-pimary process-button"
            ng-disabled="false"
            ng-class="{ 'current': currentStep === 'search' }"
            ui-sref="search"
            md-no-ink>

          <i class="fa fa-search" aria-hidden="true"></i>
          2. Select Datasets
        </md-button>

        <span> / </span>

        <md-button class="md-button-pimary process-button"
            ng-disabled="false"
            ng-class="{ 'current': currentStep === 'checkout' }"
            ui-sref="checkout"
            md-no-ink>

          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          2. Checkout
        </md-button>
    </div>
  </md-toolbar>

  <md-content class="cart"
      ng-class="{ 'open': viewCart }">

      <button class="btn btn-block btn-primary btn-lg"
        aria-label="Checkout">
        Checkout
      </button>

      <h3 class="md-headline text-center">
        Your Cart is Empty
      </h3>
      <pre>{{ query }}</pre>
  </md-content>
