<md-content class="md-padding scroll-hidden" layout="column" flex="100" md-whiteframe="6">
  <form ng-submit="$event.preventDefault()">

    <h4 class="md-primary">Select a Boundary to Begin Data Extraction</h4>

    <md-autocomplete
        md-no-cache="false"
        md-selected-item="formData.boundary"
        md-search-text="formData.searchText"
        md-items="item in boundaries | filter: { search: formData.searchText }"
        md-selected-item-change="selectedItemChange(item)"
        md-select-on-match="true"
        md-match-case-insensitive="true"
        md-item-text="item.search"
        md-min-length="0"
        placeholder="Select boundaries"
        ng-class="!formData.boundary ? 'autocomplete-empty' : 'autocomplete-selected'">

      <md-item-template>
        <span md-highlight-text="formData.searchText" md-highlight-flags="ig">
        {{ item.title || item.name }}
        </span>
        <em class="text-muted"><span md-highlight-text="formData.searchText" md-highlight-flags="gi">{{ item.tags }}</span></em>
      </md-item-template>

      <md-not-found>
        No boundaries matching "{{formData.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>


    <div ng-hide="formData.boundary">
      <br>
      <br>
      <label>
        <span>Featured Boundaries
        </span>
      </label>
      <md-divider></md-divider>

      <div class="scroll-container"
          style="min-height: 200px; height: 40vh;"
          ng-hide="!showFeaturedSearches">

        <md-list class="md-dense" flex>
          <md-list-item
              ng-repeat="item in boundaries"
              ng-click="selectFromFeatured(item)">

            <a href="">{{ item.search }}</a>
          </md-list-item>
        </md-list>
      </div>
    </div>


    <div ng-hide="!formData.subboundary">
      <md-divider></md-divider>
      <br>
      <br>
      <md-radio-group ng-model="formData.subboundary">
        <label>Select a Subboundary</label>
        <md-radio-button
            ng-repeat="sub in subBoundaries"
            ng-value="sub.name"
            aria-label="{{ sub.title }}">
          {{ sub.title }}
        </md-radio-button>
      </md-radio-group>


      <md-divider></md-divider>
      <br>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <md-button class="md-raised" ng-click="formData.searchText = ''">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              Back
            </md-button>
          </div>
          <div class="col-md-6">
            <md-button class="md-raised md-accent md-hue-5 pull-right"
                ng-click="defineBoundary()">
              Search Datasets
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </md-button>
          </div>
        </div>
      </div>
    </div>

  </form>

</md-content>
