<md-dialog aria-label="{{ configs.name || 'DET Message' }}">
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title"
        ng-if="configs.title">
      {{ configs.title }}
    </h2>
    <div class="md-dialog-content-body"
         ng-bind-html="trustedContent"></div>
  </md-dialog-content>
  <md-dialog-actions>

    <md-checkbox ng-show="showCheckbox"
                 ng-model="hideMsg"
                 aria-label="Don't show me this again">
        Don't show me this again
    </md-checkbox>
    <span flex></span>

    <md-button md-no-ink class="md-primary"
               ng-click="closeDialog()">
      {{ configs.ok || 'OK' }}
    </md-button>

    <md-button md-no-ink class="md-primary"
               ng-if="type === 'confirm'"
               ng-click="cancelDialog()" >
      {{ configs.cancel || 'cancel' }}
    </md-button>
  </md-dialog-actions>
</md-dialog>
