<ul class="breadcrumb-progress" layout="row"
    ng-class="{ 'justified': !!fullWidth }">

  <li
      ng-repeat="step in stepList"
      ng-if="step.name.indexOf('prep') < 0"
      ng-init="step.displayText = stepText(step.name);
               step.sortOrder = stepIndex(step.name);
               step.hover = hoverText(step.name);">

    <a href="" class="{{ step.displayText }} disabled"
        ng-class="step.displayText === currentStepName ? 'current' : 'incomplete'">

        <md-tooltip md-direction="top"> {{ step.hover }} </md-tooltip>

      <i class="fa fa-check-circle" aria-hidden="true"
          ng-if="step.sortOrder <= currentStepIndex" ></i>

      {{ step.displayText }}
    </a>
  </li>
</ul>
