<div flex="100">
  <md-toolbar id='det-header'>
    <div class="md-toolbar-tools">

      <h2>
        <a href="" ui-sref="map">
           <div class="logo"></div>
        </a>
      </h2>
      <span flex></span>

      <span ng-repeat="key in tabs.order" layout="row">
        <md-button class="md-icon-button header-button"
            aria-label="{{ tabs.options[key].text }}"
            ng-click="activate(key)">
          <md-tooltip> {{ tabs.options[key].text }} </md-tooltip>
          <i class='fa {{ tabs.options[key].icon }}' aria-hidden="true"></i>
        </md-button>

        <small ng-show="queryLen" ng-if="key === 'cart'">
          <div class="label label-primary label-circle" style="margin-top: 10px">
            {{ queryLen || 0 }}
          </div>
        </small>
      </span>
    </div>
  </md-toolbar>

  <md-toolbar class="process-header md-hue-6" md-whiteframe="3">
    <div class="md-toolbar-tools process">

        <md-button class="md-button-pimary process-button"
            ng-disabled="false"
            ng-class="{ 'current': currentStep === 'map' }"
            ui-sref="map"
            md-no-ink>

          <i class="fa fa-map-pin" aria-hidden="true"></i>
          1. Select Boundary
        </md-button>

        <span> / </span>

        <md-button class="md-button-pimary process-button"
            ng-disabled="false"
            ng-class="{ 'current': currentStep.indexOf('search') >= 0 }"
            ui-sref="search"
            md-no-ink>

          <i class="fa fa-star" aria-hidden="true"></i>
          2. Customize Datasets
        </md-button>

        <span> / </span>

        <md-button class="md-button-pimary process-button"
            ng-disabled="false"
            ng-class="{ 'current': currentStep === 'checkout' }"
            ui-sref="checkout"
            md-no-ink>

          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          3. Checkout
        </md-button>
    </div>
  </md-toolbar>
</div>
