<div flex="100">
  <md-toolbar id='det-header'>
    <div class="md-toolbar-tools">

      <h2>
        <a href="" ui-sref="map">
           <div class="logo"></div>
        </a>
      </h2>
      <span flex></span>

      <md-button class="md-button header-button"
          aria-label="View Cart"
          ng-click="activate('cart')">
          <small ng-show="queryLen">
            <span  class="badge" ng-class="{ 'normal': !highlightRed && !highlightGreen, 'add': highlightGreen, 'remove': highlightRed }" style="margin-top: -20px;">
              {{ queryLen || 0}}
            </span>
          </small>
          <i class='fa fa-shopping-cart' aria-hidden="true"></i>
        Cart
      </md-button>

      <md-button class="md-button header-button"
          aria-label="View Past Requests"
          ui-sref="login">
        <i class='fa fa-history' aria-hidden="true"></i>
        Past Requests
      </md-button>

      <md-button class="md-button header-button"
          aria-label="Help"
          ng-click="activate('help')">
        <i class='fa fa-question-circle' aria-hidden="true"></i>
        Help
      </md-button>

    </div>
  </md-toolbar>

  <md-toolbar class="process-header md-hue-6" md-whiteframe="3">
    <div class="md-toolbar-tools process">

        <md-button class="md-button-pimary process-button"
            ng-disabled="true"
            ng-class="{ 'current': currentStep === 'map' }"
            ng-show="showSteps"
            md-no-ink>

          <i class="fa fa-map-pin" aria-hidden="true"></i>
          1. Select Boundary
        </md-button>

        <span ng-show="showSteps"> / </span>

        <md-button class="md-button-pimary process-button"
            ng-disabled="true"
            ng-class="{ 'current': currentStep.indexOf('search') >= 0 }"
            ng-show="showSteps"
            md-no-ink>

          <i class="fa fa-star" aria-hidden="true"></i>
          2. Customize Datasets
        </md-button>

        <span ng-show="showSteps"> / </span>

        <md-button class="md-button-pimary process-button"
            ng-disabled="true"
            ng-class="{ 'current': currentStep === 'checkout' }"
            ng-show="showSteps"
            md-no-ink>

          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          3. Checkout
        </md-button>
    </div>
  </md-toolbar>
</div>
