<md-content md-padding style="padding-right: 15px; overflow-x: hidden;">
  <div layout="column" layout-padding>

    <div layout="row">
      <md-button class="md-raised md-accent"
          style="width: 100%"
          ng-disabled="!(queryObj.release_data && queryObj.release_data.length) && !(queryObj.raster_data && queryObj.raster_data.length)"
          ng-click="submitQuery()"
          ng-hide="state.$current.name.indexOf('checkout')>=0 || state.$current.name === 'requests' || state.$current.name === 'status' || state.$current.name === 'login' "
          aria-label="Review Request">
        Review Request
      </md-button>
      <md-button class="md-raised md-accent"
          style="width: 80%; float:left;"
          ng-disabled="!(queryObj.release_data && queryObj.release_data.length) && !(queryObj.raster_data && queryObj.raster_data.length)"
          ng-click="submitQuery()"
          ng-hide="state.$current.name.indexOf('search')>=0 || state.$current.name === 'map' "
          aria-label="Review Request">
        Review Request
      </md-button>
      <md-button class="md-primary md-raised"
          style="width: 20%; float:right;"
          ng-click="goBack()"
          ng-show="state.$current.name === 'login' "
          aria-label="Add To Request">
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
      </md-button>
    </div>

    <h3 class="md-headline text-center"
        ng-show="!(queryObj.release_data && queryObj.release_data.length) && !(queryObj.raster_data && queryObj.raster_data.length)">
      Your Request is Empty
    </h3>

  </div>
</md-content>

<div ng-if="(queryObj.release_data && queryObj.release_data.length) || (queryObj.raster_data && queryObj.raster_data.length)">
  <md-list>
    <md-divider></md-divider>
    <div ng-repeat="(type, requests) in { release_data: queryObj.release_data, raster_data: queryObj.raster_data }">
      <div ng-repeat="request in requests"
          ng-init="dataset = datasetDetails(request); hidden= true;">

        <md-list-item style="margin-left: 3px; background-color: #fafafa">
          <a href="" class="md-primary" ng-click="hidden=!hidden;">
              <i class="fa fa-chevron-right" aria-hidden="true"
                  style="margin-right: 10px;"
                  ng-class="{ 'fa-rotate-90': !hidden }"></i>
          </a>
          <md-input-container class="condensed no-label" md-no-float flex>
            <input ng-model="request.custom_name" placeholder="Request Name">
          </md-input-container>

          <a href="" class="md-secondary md-warn" ng-click="removeQuery(request, type)"
                      aria-label="Remove Selection">
            <i class="fa fa-minus-circle fa-lg" aria-hidden="true"
            style="margin-right: -15px;"></i>
          </a>

      </md-list-item>
        <md-divider></md-divider>

        <div layout-padding uib-collapse="hidden" style="margin: 8px; overflow-x: auto;">
          <plain-text-query
            ng-if="!hidden"
            query-dataset="dataset"
            query-geography="queryObj.boundary.title"
            query-filters="request.filters"
            query-options="request"
            query-editable="false"
            style="font-size: smaller;"></plain-text-query>
        </div>

        <md-divider></md-divider>
      </div>
    </div>
  </md-list>
</div>
