<div layout="row" class="layout-row"
    ng-show="dataset.type === 'raster'">
  <div flex="33" class="flex-33"
      ng-repeat="option in options"
      uib-collapse="!option.data || option.data.length <= 1">
    <md-card style="height: 370px;">
      <md-card-content>
        <h4>{{ option.name }}</h4>
        <md-list>
          <md-list-item ng-repeat="choice in option.data" ng-init="isChecked=true">
            <div class="_md-label">
              <input type="checkbox"
                  ng-model="checked"
                  ng-click="toggleOption(checked, choice)">
              {{ choice.name }}
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  <div>
</div>
