<md-content style="background-color: #78909c;">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">

      <div style="width: 50%;">
        <i class="fa fa-pencil-square-o" aria-hidden="true"style="display: block; float: left; padding-right: 5px; padding-top: 8px;"></i>
        <md-input-container class="condensed no-label md-light"
          md-no-float>
          <md-tooltip md-delay="500" md-direction="top"> Change Selection Name </md-tooltip>
          <input ng-model="selectionData.name" placeholder="Selection Name">
        </md-input-container>

        <small ng-if="dataset && dataset.type == 'release'">
          <br>
          <strong>{{ totals.projects }}</strong> projects /
          <strong>{{ totals.locations }}</strong> locations
        </small>
      </div>

      <span flex></span>


      <md-button class="md-raised md-warn md-hue-2" aria-label="Reset Filters"
        ng-click="clearFilters()"
        ng-show="selectionData.canReset"
        style="text-transform: capitalize;">
        <md-tooltip md-delay="500" md-direction="top"> Clear Search Filters </md-tooltip>
        <i class="fa fa-lg fa-refresh" aria-hidden="true"></i>
        Reset Filters
      </md-button>

      <md-button class="md-raised md-accent md-hue-5" aria-label="Add to Cart"
          ng-disabled="!selectionData.canAdd"
          ng-click="addToCart()"
          style="text-transform: capitalize;">
        <md-tooltip md-delay="500" md-direction="top"> Move Selection to Cart </md-tooltip>
        <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
        Add to Cart
      </md-button>

    </div>
  </md-toolbar>
</md-content>

<md-card-content flex>

  <plain-text-query
    query-dataset="dataset"
    query-geography="geography.title"
    query-filters="filters"
    query-options="options"
    query-editable="true"></plain-text-query>

</md-card-content>
