<md-content class="selection-text-header">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">

      <div style="overflow-y: hidden; max-width: 50%" layout="column">
        <md-input-container class="condensed no-label md-light md-icon-float" flex md-no-float style="font-size: 16px">
          <md-icon>
            <md-tooltip md-delay="500" md-direction="top"> Change Selection Name </md-tooltip>
            <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
          </md-icon>

          <input class="inputsm" ng-model="selectionData.name" placeholder="Selection Name" ng-change="selectionData.renamed = true">
        </md-input-container>

        <small style="margin-top: -20px;" ng-if="dataset && dataset.type == 'release'">
          <br>
          <strong>{{ totals.projects }}</strong> projects /
          <strong>{{ totals.locations }}</strong> locations
        </small>
      </div>

      <span flex></span>


      <md-button class="md-raised toggle" aria-label="Reset Filters"
        ng-class="{'md-warn md-hue-2': selectionData.canAdd, 'md-primary md-hue-1': !selectionData.canAdd }"
        ng-click="clearFilters()"
        ng-show="selectionData.canReset"
        ng-disabled="atLimit">
        <i class="fa fa-lg fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;
        <span ng-show="selectionData.canAdd">Reset</span>
        <span ng-show="!selectionData.canAdd">New Selection</span>
      </md-button>

      <md-button class="md-raised md-accent md-hue-5" aria-label="Add to Cart"
          ng-disabled="!selectionData.canAdd"
          ng-click="addToCart()">
        <i class="fa fa-lg fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
        <span ng-show="selectionData.canAdd || dataset.type === 'raster' || !(totals.projects && totals.locations)">Add to Cart</span>
        <span ng-show="!selectionData.canAdd && dataset.type !== 'raster' && (totals.projects && totals.locations)">Added to Cart</span>
      </md-button>

    </div>
  </md-toolbar>
</md-content>

<md-card-content flex>

  <plain-text-query
    query-dataset="dataset"
    query-geography="geography.title"
    query-filters="filters"
    query-options="options"
    query-editable="true"></plain-text-query>

</md-card-content>
