<div layout="column"
    flex="33"
    ng-show="dataset.type === 'raster'"
    ng-repeat="option in options">

  <md-card
      class="filter-card"
      flex="100"

      ng-hide="!option.data || option.data.length <= 1">

    <md-card-header>
        {{ option.name }}
    </md-card-header>

    <div
        layout="column"
        flex>

      <md-list class="md-dense">
        <md-list-item
            class="md-2-line"
            ng-repeat="choice in option.data">

          <md-checkbox style="md-primary"
              ng-init="choice.checked = false"
              ng-checked="choice.checked"
              ng-click="toggleOption(!choice.checked, choice, option)"></md-checkbox>

          <div class="md-list-item-text">
            <p>{{ choice.name }}</p>

            <small ng-if="(choice.start || choice.end) && dataset.temporal.format">
              <em ng-if="choice.start"> {{ getTimeStamp(choice.start, dataset.temporal.format) }} </em>
              <span ng-if="choice.start && choice.end">&dash;</span>
              <em ng-if="choice.end"> {{ getTimeStamp(choice.end, dataset.temporal.format) }} </em>
            </small>
          </div>

          <md-divider></md-divider>

        </md-list-item>
      </md-list>

    </md-card-content>
  </div>
</div>
