<div layout="column"
    flex="33"
    ng-repeat="option in options" >

  <md-card
      class="filter-card"
      flex="100"

      ng-hide="!option.data || option.data.length <= 1">

    <md-card-header>
        {{ option.name === 'Resources' ? 'Years' : option.name }}
    </md-card-header>

    <div style="overflow-y: auto"
        layout="column"
        flex>

      <md-list class="md-dense">
        <md-list-item
            class="md-2-line"
            ng-repeat="choice in option.data">

          <md-checkbox style="md-primary"
              ng-init="choice.checked = false"
              ng-checked="choice.checked"
              ng-click="toggleOption(!choice.checked, choice, option)"
              md-no-ink></md-checkbox>

          <div class="md-list-item-text">
            <p ng-if="(!choice.start && !choice.end) || !dataset.temporal.format">{{ choice.name }}</p>
            <p ng-if="(choice.start || choice.end) && dataset.temporal.format">
              {{ getTimeStamp(choice.start, dataset.temporal.format) ||
                getTimeStamp(choice.end, dataset.temporal.format) }}
            </p>
          </div>

          <md-divider></md-divider>

        </md-list-item>
      </md-list>
    </div>
 </md-card>

</div>
