<md-list>
  <md-list-item>

    <md-checkbox
        aria-label="All  {{ filterData.display }}"
        ng-checked="activeFilters.length === 1  && activeFilters[0] === 'All'"
        ng-click="toggleAll(filterData.field)"
        ng-disabled="activeFilters.length === 1  && activeFilters[0] === 'All'"
        md-no-ink/></md-checkbox>

    <p> All  {{ filterData.display | capitalize }} </p>
    <md-divider></md-divider>

  </md-list-item>

  <md-list-item
      ng-repeat="option in filterData.filtered = (filterOptions | filter: filterData.searchText)">

    <md-checkbox
        aria-label="{{ option }}"
        ng-click="toggleFilter(filterData.field, option)"
        ng-checked="activeFilters && activeFilters.indexOf(option) >= 0;"
        md-no-ink></md-checkbox>

    <p> {{ option }} </p>
    <md-divider></md-divider>

  </md-list-item>
</md-list>
