<md-content class="remaining-height">
  <div md-padding flex="50" flex-offset="25">
    <br>
    <center>
      <h2>Request Search</h2>
      <h4 class="headline">Enter E-mail to View the Status of Your Requests</h4>
    </center>
    <br><br>
    <div layout="column" layout-padding layout-align="top">
      <md-input-container class="condensed">
        <label>e-mail</label>
        <input ng-model="requestForm.email"
            name="email"
            type="email">
      </md-input-container>

      <md-button md-no-ink
          class="md-primary"
          ng-click="lookup()">Lookup</md-button>
    </div>
  </div>
</md-content>
