<div layout="column" class="full-height" flex>
  <div layout="row" flex="100">
    <div layout="column" flex="30">
      <md-content flex="100" ui-view="datasetSelector" id="datasetSelector" md-whiteframe="4"></md-content>
    </div>
    <div layout="column" flex="70" layout-padding>
      <div layout="row" flex="40">
        <md-card flex="100" ui-view="selectionText" id="selectionText" ></md-card>
      </div>
      <div layout="row" flex="60">
        <div layout="column" flex="100">
          <div layout="row" flex="100" ui-view id="searchModuleView"></div>
        </div>
      </div>
    </div>
  </div>
</div>
