<det-header></det-header>
<div class="container-fluid search-container">
  <div class="row">
    <div class="col-md-4 left-panel">
      <div ui-view="datasetSelector" id="datasetSelector"></div>
    </div>

    <div class="col-md-8">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div ui-view="queryText" id="queryText"></div>
        </div>
      </div>
      <br>
      <div>
        <div ui-view="filters" id="filters"></div>
        <div ui-view="options" id="options"></div>
      </div>
    </div>
  </div>
</div>
