
<div class="full-height" flex layout="column" id="status">

  <div layout="row" layout-fill>
    <md-content class="status-headline" flex="45"  layout="column" md-whiteframe="4">

      <div layout-padding>
        <small><a ui-sref="map">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Start New Request
        </a></small>
        <h4 class="md-display-5">Request Status</h4>
        <small>
          <process-breadcrumbs step-list="request.stage" current-step="request.status" full-width="true"></process-breadcrumbs>
        </small>

        <div layout="column" ng-if="request.status.indexOf('complete') >= 0">
          <md-divider></md-divider>
          <div layout-align="space-around" layout="row">
            <md-button class="md-primary"
                ng-href="http://labs.aiddata.org/DET/results/{{ request._id.$id }}/{{ request._id.$id }}.zip">
              Request Zip
              <i class="fa fa-file-archive-o" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-primary" target="_blank"
                ng-href="http://labs.aiddata.org/DET/results/{{ request._id.$id }}/{{ request._id.$id }}_documentation.pdf">
              Documentation PDF
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-primary"
                ng-href="http://labs.aiddata.org/DET/results/{{ request._id.$id }}/{{ request._id.$id }}_results.csv">
              Results CSV
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </md-button>
          </div>
          <md-divider></md-divider>
        </div>


        <div>
          <h3 ng-show="request.status.indexOf('submit') >= 0"> <strong>{{ request.custom_name }}</strong> has been submitted! </h3>
          <h3 ng-show="request.status.indexOf('process') >= 0 || request.status.indexOf('prep') >= 0"> <strong>{{ request.custom_name }}</strong> is being processed! </h3>
          <h3 ng-show="request.status.indexOf('complete') >= 0"> <strong>{{ request.custom_name }}</strong> is ready for download! </h3>
          <br>
          <p ng-repeat="paragraph in language">{{ paragraph }}</p>
        </div>

        <div class="md-padding">
          <md-divider></md-divider>
          <br>
          <p class="request-info">{{ request.info }}</p>
          <ul>
            <li> <strong>Submitted:</strong> {{ request.submissionTime }}</li>
            <li> <strong>Boundary:</strong> {{ request.boundary.title }}</li>
            <li> <strong>Customization:</strong>
              <span ng-hide="!request.release_data.length"> {{ request.release_data.length }} AidData Selection<span ng-hide="request.release_data.length === 1">s</span> </span>
              <span ng-hide="!request.raster_data.length || !request.release_data.length"> and </span>
              <snan ng-hide="!request.raster_data.length"> {{ request.raster_data.length }} External Dataset Selection<span ng-hide="request.raster_data.length === 1">s</span> </span>
            </li>
          </ul>
        </div>

      </div>
    </md-content>

    <div layout="column" flex="55" style="overflow: auto;">
      <h4 class="md-padding selections-heading"><em>Selections included in <strong>{{ request.custom_name }}</strong></em></h4>

      <div ng-repeat="(type, queries) in { release_data: request.release_data, raster_data: request.raster_data }">
        <div ng-repeat="q in queries" ng-init="dataset = getDataset(q)">
          <md-card >
            <md-card-header layout-align="center center">
              <md-card-title-text>
                <span class="md-title">{{ q.custom_name ? q.custom_name : 'Unamed Request ' + q.name }}</span>
              </md-card-title-text>
              <span flex></span>
              <md-button class="md-primary" ng-click="hidden=!hidden;" ng-init="hidden=true">
                Details
                <i class="fa fa-chevron-right" aria-hidden="true" ng-class="{ 'fa-rotate-90': !hidden }"></i>
              </md-button>
            </md-card-header>

            <md-content uib-collapse="hidden" class="selection-text-container">
              <plain-text-query
                  ng-if="!hidden"
                  query-dataset="dataset"
                  query-geography="request.boundary.group"
                  query-filters="q.filters"
                  query-options="q"
                  query-editable="false"></plain-text-query>
            </md-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>
