<md-content class="full-height" flex layout-padding>
  <h1> This is where the user will check the status of their request </h1>

   <div ng-repeat="(type, queries) in { release_data: request.release_data, raster_data: request.raster_data }">
     <div ng-repeat="q in queries"
        ng-init="dataset = getDataset(q)">
       <plain-text-query
         ng-if="!hidden"
         query-dataset="dataset"
         query-geography="request.boundary.group"
         query-filters="q.filters"
         query-options="q"
         query-editable="false"></plain-text-query>
     </div>
   </div>
</md-content>
