.md-select-menu-container {
  z-index: 99999;
}

md-input-container.condensed {
  margin-bottom: 0px;
  &.no-label {
    margin-top: 0px;
  }

  .md-errors-spacer {
    height: 0px;
    min-height: 0px;
  }
}

md-autocomplete md-autocomplete-wrap.md-menu-showing {
  z-index: 999999;
}
/* Enable click events after clicking the 'X' to clear the autocomplete */
.md-scroll-mask {
  position: initial;
}

.md-autocomplete-suggestions-container.md-default-theme li .highlight,
.md-autocomplete-suggestions-container li .highlight {
  background-color: @bananaCreme;
  color: #000;
  letter-spacing: 1px;
}

md-autocomplete md-autocomplete-wrap{
  border-radius: 1px;
  border: 1px solid @themeDefault !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
      0 1px 1px 0 rgba(0,0,0,.05),
      0 2px 1px -1px rgba(0,0,0,.05) !important;
  &.md-menu-showing {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
      0 1px 1px 0 rgba(0,0,0,.14),
      0 2px 1px -1px rgba(0,0,0,.12) !important;
  }
}

md-select.md-default-theme:not([disabled]) .md-select-value,
md-select:not([disabled]) .md-select-value,
md-input-container.md-default-theme .md-input,
md-input-container .md-input {
  font-size: 14px;
  line-height: 20px;
  border-radius: 1px;
  height: 35px;
  padding: 4px 12px !important;
  background-color: rgba(255,255,255,1);
  border: 1px solid @themeDefault !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
    0 1px 1px 0 rgba(0,0,0,.05),
    0 2px 1px -1px rgba(0,0,0,.05);
  &:focus,
  &:active {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
      0 1px 1px 0 rgba(0,0,0,.14),
      0 2px 1px -1px rgba(0,0,0,.12);
  }
}
.md-light .md-input{
  height: 30px;
  background-color: rgba(0,0,0,.1);
  color: white;
  border: 1px solid rgba(0,0,0,.3)!important;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.1),
    inset 0 1px 1px 0 rgba(0,0,0,.05),
    inset 0 2px 1px -1px rgba(0,0,0,.05);
    &:focus,
    &:active {
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.2),
        inset 0 1px 1px 0 rgba(0,0,0,.14),
        inset 0 2px 1px -1px rgba(0,0,0,.12);
    }
}

md-select-menu {
  md-content {
    max-height: none;
  }
  md-option {
    height: auto;
    min-height: 30px;
  }
}
