<span ng-repeat="item in queryStructure"
  ng-hide="!item.value.length || item.value.length === 1 && item.value[0].display && item.value[0].display === 'none'">
  {{ item.pre }}
  <span ng-repeat="option in item.value|orderBy:'display'">
    <span ng-show="item.value.length > 1 && $last"> and </span>
    <span ng-show="item.value.length > 1 && !$last && !$first">, </span>
    <div class="btn btn-sm btn-chip"
        ng-class="{ 'btn-chip-dismissable': item.optional && editable, 'blue': item.optional }"
        ng-click="item.optional && editable ? removeFilter(item.key, option) : null">
      {{ option.display || option }}
      <i class="fa fa-times" aria-hidden="true" ng-show="item.optional && editable"></i>
    </div>
  </span>
</span>
