<div layout="column"
    flex="33"
    ng-repeat="option in options" >

  <md-card
      class="filter-card"
      flex="100"
      ng-init="option.shown = showOption(option)"
      ng-show="option.shown">

    <md-card-header layout-align="none center">
      <md-card-header-text flex="100">
        <small class="md-subhead">{{ option.name }}
          <small class="text-muted">({{ option.checkedCount || 0 }}/{{ option.data.length }})</small>
        </small>
      </md-card-header-text>

      <span flex></span>

      <!-- Buttons -->
      <a href="" class="toolbar-link"
          ng-hide="!option.checkedCount"
          ng-click="toggleAll(option, true)">
          <md-tooltip md-delay="500"> Reset Options Field </md-tooltip>
        <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
      </a>
    </md-card-header>

    <div style="overflow-y: auto"
        layout="column"
        flex>

      <md-list class="md-dense">
        <md-list-item md-no-ink
          ng-if="option.data && option.data.length">

          <md-checkbox style="md-primary"
              ng-init="option.allChecked = option.data.length === 1"
              ng-checked="option.allChecked"
              ng-click="toggleAll(option, option.allChecked)"
              md-no-ink></md-checkbox>

          <p>All {{ option.name.toLowerCase() }}</p>

          <md-divider></md-divider>

        </md-list-item>

        <md-list-item
            ng-repeat="choice in option.data | orderBy:'start':true"
            md-no-ink>

          <md-checkbox style="md-primary"
              ng-init="choice.checked = option.data.length === 1"
              ng-checked="choice.checked"
              ng-click="toggleOption(!choice.checked, choice, option)"
              md-no-ink></md-checkbox>

          <p ng-if="(!choice.start && !choice.end) || !dataset.temporal.format">{{ choice.name }}</p>
          <p ng-if="(choice.start || choice.end) && dataset.temporal.format">
            {{ getTimeStamp(choice.start, dataset.temporal.format, dataset.temporal.type) || getTimeStamp(choice.end, dataset.temporal.format, dataset.temporal.type) }}
          </p>

          <a href=""
              ng-if="option.info && option.info[choice.name]">
            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            <md-tooltip md-direction="right"> {{option.info[choice.name]}} </md-tooltip>
          </a>

          <md-divider></md-divider>

        </md-list-item>
      </md-list>
    </div>
 </md-card>

</div>
